/* =======================PRODUCT TRANG CHỦ================================ */

ul.list-product {
  /* padding: 0;
  margin: 0;
  list-style: none;
  width: 100%; */
  width: 90%;

  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /* justify-content: flex-start;
    gap: 20px; */

  /* justify-content: center; */
}

ul.list-product li {
  width: calc(20% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2px; */
  box-sizing: border-box;
  margin-bottom: 30px;

  border: 1px solid #123f39;
  /* width: 18%; */
  /* margin: 8px;
  float: left; */
  background-color: #e0eddc;
  border-radius: 10px;
  height: 15%;

  /* Trans */
  height: calc(100% / 6 - 2px);
  transition: 0.5s;
  position: relative;
}

/* ADD TRANSITION */
ul.list-product li:hover {
  scale: 1.06;
  z-index: 2;
  border: 1px solid yellow;
}

ul.list-product li img {
  width: 100%;
  border-radius: 10px;
}

p.title-product {
  text-align: center;
  /* color: black; */
  color: #123f39;
  font-size: 16px;
  /* font-weight: bold; */
  text-decoration: none;
  height: 65px;
  margin: 5px;
  font-family: "Montserrat", sans-serif;
  animation: fadeInLeft 1.4s ease-out;
  transition: 0.5s;
}

/* p.title-product:hover {
  font-weight: bolder;
} */

ul.list-product li a {
  text-decoration: none;
}

p.price-product {
  /* color: #836fff; */
  color: #123f39;
  font-weight: bold;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.old-price-product {
  color: gray;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: small;
}

.old-price-product span label {
  text-decoration: line-through;
}

.old-price-product small {
  padding: 3px;
  margin-left: 0;
  /* vertical-align: text-top; */
  text-decoration: none;
}

.old-price-product small {
  color: #eb5757;
  background: #fff0e9;
  border-radius: 4px;
  padding: 1px 2px 2px 2px;
  margin-left: 7px;
  font-size: 14px;
  font-weight: bolder;
}

.clear {
  clear: both;
}

/* =======================PRODUCT CHI TIẾT================================ */
.wrapper {
  /* border: 1px solid black; */
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.wrapper-chi-tiet {
  /* border: 1px solid black; */
  height: auto;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.hinh-anh-san-pham {
  float: left;
  width: 50%;
}

.chi-tiet-san-pham {
  float: right;
  width: 50%;
  font-family: Lato, sans-serif;
  font-weight: bolder;
}

.chi-tiet-san-pham h2 {
  color: #123f39;
  text-align: unset;
}

input.them-gio-hang {
  border: 1px solid #123f39;
  padding: 15px;
  background-color: white;
  color: 123f39;
  border-radius: 30px;
  font-family: cursive;
  font-size: medium;
  width: 150px;
  font-family: Lato, sans-serif;
  animation: fadeInLeft 1.4s ease-out;
  transition: 0.5s;
}

input.them-gio-hang:hover {
  background-color: #123f39;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

input.mua-hang {
  border: 1px solid #836fff;
  padding: 15px;
  background-color: white;
  color: #836fff;
  border-radius: 30px;
  font-family: cursive;
  font-size: medium;
  margin-left: 50px;
  width: 150px;
  font-family: Lato, sans-serif;
}

input.mua-hang:hover {
  background-color: #836fff;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.nut {
  display: flex;
  /* margin-left: 10px; */
  /* align-items: center; */
  /* justify-content: center; */
}

i.fa.fa-plus.fa-style {
  color: #836fff;
}
i.fa.fa-plus.fa-style:hover {
  color: green;
}

i.fa.fa-minus.fa-style {
  color: #836fff;
}

.thong-tin-san-pham {
  font-family: "Montserrat", sans-serif;
}
/* =======================ĐÁNH GIÁ SẢN PHẨM================================ */

.danh-gia p span {
  color: #123f39;
  font-weight: bold;
}
.danh-gia p {
  color: tomato;
}
.danh-gia-index {
  display: flex;
  justify-content: center;
  color: tomato;
}
/* =======================THẺ PHƯƠNG THỨC THANH TOÁN================================ */

.tags,
.sharing,
.payment-methods {
  margin-bottom: 20px;
}

.tags strong,
.sharing strong,
.payment-methods strong {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.btn {
  background-color: #f4f4f4;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.btn.facebook {
  background-color: #3b5998;
  height: calc(90% / 6 - 2px);
  transition: 0.5s;
  position: relative;
}

.btn.facebook:hover {
  scale: 1.06;
}

.btn.google {
  background-color: #db4437;
  height: calc(90% / 6 - 2px);
  transition: 0.5s;
  position: relative;
}

.btn.google:hover {
  scale: 1.06;
}

.btn.twitter {
  background-color: #1da1f2;
  height: calc(90% / 6 - 2px);
  transition: 0.5s;
  position: relative;
}

.btn.twitter:hover {
  scale: 1.06;
}

.btn i {
  margin-right: 10px;
}

.payment-methods img {
  width: 40px;
  margin: 0 5px;
  vertical-align: middle;
}

/* =======================ICONS================================ */

/* =======================ĐÁNH GIÁ SẢN PHẨM================================ */

.review-section {
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  color: #123f39;
  text-align: center;
}

.rating-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overall-rating {
  display: flex;
  align-items: center;
}

.rating-number {
  font-size: 36px;
  margin-right: 10px;
  font-weight: bold;
  color: #f90;
}

.stars {
  position: relative;
  width: 80px;
  height: 16px;
  background: url("stars-bg.png") repeat-x;
}

.filled-stars {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: url("stars-filled.png") repeat-x;
}

.rating-count {
  margin-left: 10px;
}

.rating-breakdown {
  flex: 1;
  margin-left: 20px;
}

.rating-bar {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.rating-bar span {
  font-family: "Montserrat", sans-serif;
}

.bar {
  flex: 1;
  height: 10px;
  background-color: #ddd;
  margin: 0 10px;
  border-radius: 5px;
  overflow: hidden;
}

.filled-bar {
  height: 100%;
  background-color: #f90;
}

.review {
  display: flex;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.review-content {
  flex: 2;
  margin-left: 20px;
}

.review-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.review-info {
  font-size: 12px;
  color: #888;
}

.review-info span {
  display: inline-block;
  margin-right: 10px;
}

.see-more-reviews,
.write-review {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid #123f39;
  background-color: white;
  color: #123f39;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  animation: fadeInLeft 1.4s ease-out;
  transition: 0.5s;
}

button:hover {
  background-color: #123f39;
  color: white;
  scale: 1.06;
}

/* =======================TIÊU ĐỀ SẢN PHẨM LIÊN QUAN================================ */
.title-lienquan {
  font-size: 25px;
  color: #123f39;
  font-family: "Montserrat", sans-serif;
}
