/* ul.list-menu-admin li {
  float: left;
  margin: 7px;
}

ul.list-menu-admin li a {
  text-decoration: none;
}

ul.list-menu-admin {
  padding: 0;
  margin: 0;
  list-style: none;
}

.clear {
  clear: both;
}

h3.title-admin {
  text-align: center;
  font-size: 40px;
  color: green;
  font-weight: bold;
}

.wrapper {
  border: 1px solid black;
  height: auto;
  width: 100%;
  margin: 0 auto;
} */
